<fieldset>
  <legend><h4>Assign newly activated user to group :</h4></legend>

	<input name="settings[assign_newly_activated_user_to_group]" value="<%= @settings['assign_newly_activated_user_to_group'] %>" size="50"/>
</fieldset>
<br/>

<fieldset>
  <legend><h4>Debug :</h4></legend>

  <%= check_box_tag "settings[debug]", 1, @settings['debug'] %>
</fieldset>
<br/>

<fieldset style="font-family:monospace; font-size:9px;">
  <legend><h4>[<%= SmileTools.override_count(:redmine_smile_auto_user_activation) %>] override(s) added by the plugin (<%= SmileTools.override_last_date(:redmine_smile_auto_user_activation).to_s(:db) %>) :</h4></legend>

  <%= SmileTools.override_traces(:redmine_smile_auto_user_activation).html_safe %>
</fieldset>
